$content-width: 1100px;

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: 800px,
  lg: $content-width + $nav-width,
  xl: 1600px
);

.nav-list-item {
  .nav-list-expander {
    display: none !important;
  }

  .nav-list {
    display: block !important;
  }
}

blockquote {
  background: #FCF9E4;
  border: 2px solid #E6D55B;
  border-radius: 6px;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 0 1rem;
}

iframe {
  margin-left: -$gutter-spacing-sm;
  margin-right: -$gutter-spacing-sm;
  width: calc(100% + #{2 * $gutter-spacing-sm}) !important;

  @include mq(md) {
    margin-left: 0;
    margin-right: 0;
    width: 100% !important;
  }
}
