.er5-floats-container {
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}

.er5-float-left, .er5-float-right {
  margin: 0.2rem;
  border: 1px dashed grey;
  padding: 0.5rem;
  cursor: pointer;
}

.er5-float-left {
  float: left;
}

.er5-float-right {
  float: right;
}