.er8-list-container {
  display: flex;
  align-items: start;
  width: 400px;
  margin: 5px;
}

.er8-list {
  flex: 1 1 0;
  margin: 10px;
  padding: 10px;
  background-color: #eee;
}

.er8-list-item {
  display: block;
  box-sizing: border-box;
  border: 1px solid #888;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
  background: white;
}

.er8-list-item:not(:first-child) {
  margin-top: -1px;
}

.er8-list-item.reorderable-repeat-dragging-me {
  visibility: visible; /* unset visibility: hidden */
  color: transparent; /* hide text */
  background-color: #ddd;
}
